<div class="row">
    <input type="hidden" value="{{_id}}"/>
    <div class="col wide">{{creationDate}}</div>
    <div class="col wide">{{itemsCount}}</div>
    <div class="col">{{totalAmount}}</div>
    <div class="col">
        <a href="#/displayDetails/{{_id}}">Details</a>
    </div>
</div>